{% extends "base_template.html" %}

{% load static %}

{% block title %} Edit {{ club }} Constitution {% endblock title %}

{% block head %}
    <script type="module" src="{% static 'clubs/edit_constitution.js' %}"></script>
    <style>
        table {
            width: 50%;
        }
    </style>
{% endblock head %}

{% block body %}

    <!-- JS Data -->
    <div id="data" 
        data-constitution-pk="{{ constitution.pk }}"
        data-get-data-url="{% url 'get_constitution_data' %}"
        data-save-edits-url="{% url 'save_constitution_edits' club.url %}"
        data-add-article-url="{% url 'add_article_constitution' %}"
        data-add-section-url="{% url 'add_section_constitution' %}"
        data-club-page-url="{% url 'club' club.url %}"
        hidden
    ></div>

    <h1>Constitution for {{ club }}</h1>

    <p>Created on {{ constitution.timestamp }}</p>

        <table id="constitution">
            <colgroup>
                <col style="width:20%;">
                <col style="width:60%;">
                <col style="width:20%;">
            </colgroup>
        </table>
        
    <hr>    

    <div id="unsaved-changes-indicator" style="padding: 10px;"></div>
    
    <div class="buttons">
            
        <button id="save-edits">Save Edits</button>
            
        <form method="post" action="{% url 'submit_constitution' club.url %}">
            {% csrf_token %}
            <input type="hidden" name="constitution" value="{{ constitution.pk }}">
            <input type="submit" value="Submit Constitution">
        </form>

        <a href="{% url 'club' club.url %}"><button>Club Page</button></a>
            
    </div>    
    
{% endblock body %}