{% extends "base_template.html" %}

{% load static %}

{% block title %} Review {{ club }} Constitution {% endblock %}

{% block head %}
    <script type="module" src="{% static 'board/review_constitution.js' %}"></script>
    <style>
        table {
            width: 50%;
        }
        .old-content {
            color: red;
            text-decoration: line-through;
            text-decoration-thickness: 3px;
        }
        .new-content {
            color: blue;
        }
    </style>
{% endblock head %}

{% block body %}

    <!-- JS Data -->
    <div id="data" 
        data-constitution-pk="{{ constitution.pk }}"
        data-old-constitution-pk="{{ old_constitution.pk }}"
        data-get-data-url="{% url 'get_constitution_data' %}"
        hidden
    ></div>

    <h1>Constitution for {{ club }}</h1>

    <p>Created on {{ constitution.timestamp }}</p>
    <p>Submitted on {{ constitution.submitted_timestamp }}</p>
    {% if old_constitution.reviewed_timestamp %}
        <p>Last approved constitution on {{ old_constitution.reviewed_timestamp }}</p>
    {% else %}
        <p>No previously approved constitution</p>
    {% endif %}

    <hr>

    <p>
        <span class="old-content" style="margin-right: 15px;">Old Content</span>
        <span class="new-content" style="margin-left: 15px;">New Content</span>
    </p>

    <table id="constitution">
        <colgroup>
            <col style="width:20%;">
            <col style="width:60%;">
            <col style="width:20%;">
        </colgroup>
    </table>
        
    <hr>    
    
    <div class="buttons">
            
        <form method="post" action="{% url 'review_constitution' %}">
            {% csrf_token %}
            <input type="hidden" name="decision" value="1">
            <input type="hidden" name="constitution" value="{{ constitution.pk }}">
            <input type="submit" value="Approve Constitution">
        </form>

        <form method="post" action="{% url 'review_constitution' %}">
            {% csrf_token %}
            <input type="hidden" name="decision" value="0">
            <input type="hidden" name="constitution" value="{{ constitution.pk }}">
            <input type="submit" value="Deny Constitution">
        </form>
        
        <a href="{% url 'board' %}"><button>Back to Board Overview</button></a>
    
    </div> 
    
{% endblock body %}