{% extends "base_template.html" %}

{% block title %} Review {{ club }} Constitution {% endblock %}

{% block head %}
<style>
    .old-content {
        text-decoration: line-through;
    }
    .new-content {
        color: red;
    }
</style>
{% endblock head %}

{% block body %}
<h1>Constitution for {{ club }}</h1>

    <p>Created on {{ new_constitution.timestamp }}</p>
    <p>Submitted on {{ new_constitution.submitted_timestamp }}</p>

    <table>
        {% for all_article in all_articles %}
            <tr>
                <th>Article {{ all_article.new.number }}</th>
                <th>{{ all_article.new.title }}</th>
            </tr>
    
            {% for all_section in all_article.sections %}
                <tr>
                    <td>Section {{ all_section.new.number }}</td>
                    <td>
                        {% if not all_section.old or all_section.new.content == all_section.old.content %}
                            {{ all_section.new.content }} {{ all_section.old }}
                        {% else %}
                            <div class="old-content">{{ all_section.old.content }}</div>
                            <div class="new-content">{{ all_section.new.content }}</div>
                        {% endif %}
                    </td>
                </tr>
            
            {% endfor %}
        {% endfor %}
    </table>

    <div class="buttons">
            
        <form method="post" action="{% url 'review_constitution' %}">
            {% csrf_token %}
            <input type="hidden" name="decision" value="1">
            <input type="hidden" name="constitution" value="{{ new_constitution.pk }}">
            <input type="submit" value="Approve Constitution">
        </form>
        <form method="post" action="{% url 'review_constitution' %}">
            {% csrf_token %}
            <input type="hidden" name="decision" value="0">
            <input type="hidden" name="constitution" value="{{ new_constitution.pk }}">
            <input type="submit" value="Deny Constitution">
        </form>
        
        <a href="{% url 'board' %}"><button>Back to Board Overview</button></a>
    
    </div>    
    
{% endblock %}